/*  BASE STYLES */

* {
    box-sizing: border-box;
}

h1 {
    margin-bottom: 15px;
}


p {
    border: 1px solid black;
    background-color: #A52A2A;
    margin-bottom: 15px;
    width: 90%;
    height: 150px;
    margin-right: auto;
    margin-left: auto;
    font-family: Helvetica;
    color: white;
}

/* simple responsive framwork */
.row {
    width: 100%;
}

@media(min-width: 1200px) {

    .column-large-1fr,
    .column-large-2fr,
    .column-large-3fr,
    .column-large-4fr,
    .column-large-5fr,
    .column-large-6fr,
    .column-large-7fr,
    .column-large-8fr,
    .column-large-9fr,
    .column-large-10fr,
    .column-large-11fr,
    .column-large-12fr {
        float: left;
        border: 1px solid gray;
    }

    .column-large-1fr {
        width: 8.33%;
    }

    .column-large-2fr {
        width: 16.66%;
    }

    .column-large-3fr {
        width: 25%;
    }

    .column-large-4fr {
        width: 33%;
    }

    .column-large-5fr {
        width: 41.66%;
    }

    .column-large-6fr {
        width: 50%;
    }

    .column-large-7fr {
        width: 58.33%;
    }

    .column-large-8fr {
        width: 66.66%;
    }

    .column-large-9fr {
        width: 74.99%;
    }

    .column-large-10fr {
        width: 83.33%;
    }

    .column-large-11fr {
        width: 91.66%;
    }

    .column-large-12fr {
        width: 100%;
    }

}

/* Medium devices only */
@media(min-width:950px) and (max-width:1199px) {

    .column-mid-1fr,
    .column-mid-2fr,
    .column-mid-3fr,
    .column-mid-4fr,
    .column-mid-5fr,
    .column-mid-6fr,
    .column-mid-7fr,
    .column-mid-8fr,
    .column-mid-9fr,
    .column-mid-10fr,
    .column-mid-11fr,
    .column-mid-12fr {
        float: left;
        border: 1px solid indigo;
    }

    .column-mid-1fr {
        width: 8.33%;
    }

    .column-mid-2fr {
        width: 16.66%;
    }

    .column-mid-3fr {
        width: 25%;
    }

    .column-mid-4fr {
        width: 33%;
    }

    .column-mid-5fr {
        width: 41.66%;
    }

    .column-mid-6fr {
        width: 50%;
    }

    .column-mid-7fr {
        width: 58.33%;
    }

    .column-mid-8fr {
        width: 66.66%;
    }

    .column-mid-9fr {
        width: 74.99%;
    }

    .column-mid-10fr {
        width: 83.33%;
    }

    .column-mid-11fr {
        width: 91.66%;
    }

    .column-mid-12fr {
        width: 100%;
    }

}